@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-image: url("peace-creative-uw1tUo7HzRI-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: 150px;
  border: 2px dotted red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 3rem;
}
